/*Preloader*/
#loader {
    background: #efefef;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}


#loaderInner {

    height: 100%;
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
	opacity:.9;
	text-align:center;

}


.spinner {
  font-size: 10px;
  text-indent: -9999em;
  margin:0 auto;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background: #333333;
  background: -moz-linear-gradient(left, #333333 10%, rgba(51, 51, 51, 0) 30%);
  background: -webkit-linear-gradient(left, #333333 10%, rgba(51, 51, 51, 0) 30%);
  background: -o-linear-gradient(left, #333333 10%, rgba(51, 51, 51, 0) 30%);
  background: -ms-linear-gradient(left, #333333 10%, rgba(51, 51, 51, 0) 30%);
  background: linear-gradient(to right, #333333 10%, rgba(51, 51, 51, 0) 30%);
  position: relative;
  -webkit-animation: load3 1s infinite linear;
  animation: load3 1s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}


.spinner:before {
  width: 50%;
  height: 50%;
  background: #333333;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}


.spinner:after {
  background:#efefef;
  width: 92%;
  height: 100%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



/*End preloader*/


body {
	background: #181818;
	font: 13px/21px Arial, sans-serif;
	color: #ffffff;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}


.holder{
    background-position: 0 0;
    background-size: cover;
  	background-blend-mode: multiply;
  	background-color: #555555;
    height: 100vh;
    padding: 0;
    width: 100%;
    background-image:url("img/r4.jpg");

}



.contentHolder{
    
    opacity:0;
    position: relative;
    top:50%;
    text-align: center;
	transform: translate3d(0, -60%, 0);
	-ms-transform:translate3d(0, -60%, 0);
	-ms-transform:translate(-60%, 0);
	-webkit-transform:translate3d(0, -60%, 0);
	-moz-transform:translate3d(0, -60%, 0);
	-o-transform:translate3d(0, -60%, 0);


}


.contentHolder.appear{
    
    opacity:1;
	transform: translate3d(0, -50%, 0);
	-ms-transform:translate3d(0, -50%, 0);
	-ms-transform:translate(-50%, 0);
	-webkit-transform:translate3d(0, -50%, 0);
	-moz-transform:translate3d(0, -50%, 0);
	-o-transform:translate3d(0, -50%, 0);
    
}

.contentHolder img{
	max-width:130px;
}



.contentHolder p{
	color:#ffffff;
	margin-top:40px;
	font-size:20px;
	line-height: 30px;
	letter-spacing: 1px;
}


.contentHolder p + p{
	font-size: 13px;
	font-weight: bold;
	margin-top:10px;
	font-family: serif;
}



.socialsFooter{
	margin-top:40px;
	
}


.socialsFooter li {
    display: inline-block;
    margin-right: 4px;
	margin-left: 4px;
    text-align: center;
}


.socialsFooter a {
    border: 2px solid #ffffff;
    color: #ffffff;
    display: inline-block;
    height: 50px;
    width: 50px;
	opacity:.6;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
}

.socialsFooter li.folio {
    position: relative;
    top:-10px;
}

.socialsFooter a img {
    margin-top: 15px;
    width: 30%;
}


.socialsFooter li i {
    line-height: 48px;
    font-size: 15px;
}


.socialsFooter a:hover {
   opacity:1;
}



a, .contentHolder,.Holder{
	
	transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out 0s;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	
}
	
	
a{
	color: white
}





/*-------------------------------------------------------------------------*/

/* Media queries */


/*iPad lanscape*/
@media screen and (max-device-width: 960px){
	input, textarea{-webkit-appearance: none;-webkit-border-radius:0;}

}



/* Tablet Portrait size -> standard 960 */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	input, textarea{-webkit-appearance: none;-webkit-border-radius:0;}
	.contentHolder p{padding:0 180px;}

	
}


/* Mobile Landscape Size -> Tablet Portrait size*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	input, textarea{-webkit-appearance: none;-webkit-border-radius:0;}
	html{-webkit-text-size-adjust: none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;}
	.contentHolder p{padding:0 10px;font-size: 16px;line-height: 25px;margin-top: 20px;}
	.contentHolder img{max-width:100px;}
	.socialsFooter {margin-top: 40px;}

	
}


/* Mobile Portrait Size -> Mobile Landscape Size */
@media only screen and (max-width:479px) {
	
	input, textarea{-webkit-appearance: none;-webkit-border-radius:0;}
	html{-webkit-text-size-adjust: none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;}
	.contentHolder p{padding:0 10px;font-size: 16px;line-height: 25px;}
	.contentHolder img{max-width:100px;}



	
}


/*End media queries*/
/*-------------------------------------------------------------------------*/










